<div class="m-3 w-50">
	<div class="border p-3">
		<div class="login-form">
			<form [formGroup]="reservationForm" (ngSubmit)="onSubmit(reservationForm.value)">
				<div class="form-group">
						<label>Room</label>
						<input type="text" class="form-control" formControlName="roomDescription" readonly>
				</div>
				<div class="form-group">
					<label>Start time</label>
					<br>
					<input class="form-control" [matDatepicker]="startTimeDatePicker" placeholder="Start time" formControlName="startTime">
					<mat-datepicker-toggle [for]="startTimeDatePicker"></mat-datepicker-toggle>
					<mat-datepicker #startTimeDatePicker></mat-datepicker>
				</div>
				<div class="form-group">
					<label>End time</label>
					<br>
					<input class="form-control" [matDatepicker]="endTimeDatePicker" placeholder="End time" formControlName="endTime">
					<mat-datepicker-toggle [for]="endTimeDatePicker"></mat-datepicker-toggle>
					<mat-datepicker #endTimeDatePicker></mat-datepicker>
				</div>
				<div class="form-group">
					<mat-form-field floatLabel='auto'>
						<mat-label>Required Clearance</mat-label>
						<mat-select formControlName="userClearance">
							<mat-option *ngFor="let userClearance of userClearanceViews"
								[value]=userClearance[0]>{{userClearance[0]}}
							</mat-option>
						</mat-select>
					</mat-form-field>
				</div>
				<button type="submit" class="btn btn-primary mr-2">התחבר</button>
			</form>
		</div>
	</div>
</div>