@page "/"

<AuthorizeView>
    <NotAuthorized>
        <div class="container p-5">
            <div class="row">
                <div class="col-8">
                    <p>Other content for the index page will be dislayed here</p>
                </div>
                <div class="col-4 p-2 m-2">
                    <RoomResClient.UI.Pages.Auth.Login />
                </div>
            </div>
        </div>
    </NotAuthorized>
    <Authorized>
        @*Figure out what to display here when authorized*@
    </Authorized>
</AuthorizeView>

@code {
}