@page "/"
@using Shared.Dto
@inject IServerProxy ServerProxy
@inject IToastService ToastService

<table class="table">
    <tbody>
        <tr>
            <td>
                <button class="btn btn-info" @onclick="@(() => ToastService.ShowInfo("I'm an INFO message"))">Info Toast</button>
            </td>
        </tr>
        <tr>
            <td>
                <h1>Hello, World!</h1>

                Welcome to your new app.
                <RoomResClient.UI.Components.Alert Type=@Data.AlertType.Error />
                <RoomResClient.UI.Components.Alert Type=@Data.AlertType.Info />
                <RoomResClient.UI.Components.Alert Type=@Data.AlertType.Success />
                <RoomResClient.UI.Components.Alert Type=@Data.AlertType.Warning />
                <RoomResClient.UI.Components.TimedToast Message="Hello" />
                <button class="btn btn-info" @onclick="@(() => ToastService.ShowInfo("I'm an INFO message"))">Info Toast</button>
            </td>
            <td>
                <RoomResClient.UI.DomainComponents.RoomsListView />
                <RoomResClient.UI.DomainComponents.UsersListView />
            </td>
        </tr>
    </tbody>
</table>


@code {
    protected override async Task OnInitializedAsync()
    {
        await Task.Delay(2000);
    }

    private async Task Get()
    {
        Users = await ServerProxy.GetAllUsers();
    }

    private List<UserDto> Users { get; set; }
    private IEnumerable<int> NumArray { get; set; }
}