@* Inject client here, so UI can interact with it freely everywhere else in the app *@
@inject Shared.Communication.IRoomReservationClient weatherClient

<Router AppAssembly="@typeof(Program).Assembly">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" DefaultLayout="@typeof(BlazorPOC.UI.Layout.MainLayout)" />
    </Found>
    <NotFound>
        <LayoutView Layout="@typeof(BlazorPOC.UI.Layout.MainLayout)">
            <p>Sorry, there's nothing at this address.</p>
        </LayoutView>
    </NotFound>
</Router>
