@page "/"
@using Client
@using Common.Data
@inject IServerProxy ServerProxy
@inject IConnectedServerModel connectedServerModel

<table class="table">
    <tbody>
        <tr>
            <td>
                <h1>Hello, World!</h1>

                Welcome to your new app.
            </td>
            <td class="fa-align-left">
                <WeatherForecastServer ConnectedServerModel="connectedServerModel" />
            </td>
            <td>
                <BlazorPOC.Components.GenericList Elements=@NumArray>
                    <ContentTemplate>
                        @foreach (var i in NumArray)
                        {
                            <div>
                                <button class="alert-success">Number: @i</button>
                            </div>
                            <div class="fa-circle"></div>
                        }
                    </ContentTemplate>
                </BlazorPOC.Components.GenericList>
            </td>
        </tr>
    </tbody>
</table>


@code {
    protected override async Task OnInitializedAsync()
    {
        await Task.Delay(2000);
        await ServerProxy.SetWeatherServerName("Ophir", 123);
    }

    private IEnumerable<int> NumArray => new[] { 1, 2, 3, 4, 5 };
}