<Router AppAssembly="@typeof(Program).Assembly">
    <Found Context="routeData">
        <MatToastContainer />
        <RouteView RouteData="@routeData" DefaultLayout="@typeof(RoomResClient.UI.Layout.MainLayout)" />
    </Found>
    <NotFound>
        <LayoutView Layout="@typeof(RoomResClient.UI.Layout.MainLayout)">
            <p>Sorry, there's nothing at this address.</p>
        </LayoutView>
    </NotFound>
</Router>